@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Global base styles */
    @apply m-0 bg-slate-50 text-slate-900 antialiased font-cormorant;
    /* Semibold weight for "Cormorant Garamond Semibold" feel */
    font-weight: 600;
  }

  ::selection {
    @apply bg-brand-200 text-slate-900;
  }
}
